@font-face {
  font-family: "Raleway" !important;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid, body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

a {
  text-decoration: none !important;
  font-weight: bold;
}

p {
  font-size: 15pt;
}

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader .loader_inner {
  font-size: 50px;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 40%;
  position: absolute;
}

section {
  height: 700px;
}

header {
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.header-logo-heading h1 {
  font-style: italic;
}

.main-logo {
  text-align: center !important;
}

.header-right-item {
  margin-top: 68px;
  text-align: center;
  padding-bottom: 20px;
}

.header-right-item i {
  font-size: 25px;
  color: #AD2959;
}

.header-right-item a {
  margin-left: 15px;
  color: #118DF0;
  font-size: 15px;
}

.header-right-item a:hover {
  text-decoration: underline !important;
}

#section1 {
  background: url(../img/start.jpg);
  background-size: cover;
  height: 635px;
}

#section1 h1 {
  margin-top: 65px;
}

#mynavbar {
  width: 100px;
  right: 25px !important;
  top: 25px;
  left: auto !important;
}

#mynavbar ul li a {
  text-align: center !important;
  font-size: 25px;
  color: #62013C;
  padding: 5px 15px !important;
}

#mynavbar ul li a:hover {
  color: #AD2959 !important;
  background: none;
}

#mynavbar ul li a:link {
  background: none;
}

.active a {
  font-size: 2em;
  color: #AD2959 !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

h3 {
  padding-top: 15px;
  font-weight: bold;
}

#section1 form {
  background: rgba(251, 224, 135, 0.8);
  width: 300px;
  text-align: center;
  margin: 50px auto 0 auto;
}

#section1 form input {
  padding: 5px;
  margin: 10px auto;
  width: 70%;
}

#section1 form input[type="submit"] {
  background: #F2676A;
  height: 30px;
  border: none;
  color: white;
  margin-bottom: 20px;
}

form input[type="submit"]:hover {
  background: #ee383c !important;
}

#section2 {
  height: auto;
  background: #F2676A;
  text-align: center;
}

.arrow-down {
  font-size: 70px;
  position: relative;
  bottom: 30px;
}

.arrowparrent {
  height: 50px !important;
  text-align: center;
}

.arrowparrent i {
  color: #118DF0;
}

.arrowparrent i:hover {
  color: #095592;
}

.toorder {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #c7027a;
  line-height: 50px;
  color: white;
}

.toorder:hover {
  background: #94025b;
  color: white;
}

.itemsec {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  background: #FBE087;
  height: 400px;
  margin-top: 70px;
}

.itemsec p {
  height: 220px;
}

.itemseccenter {
  margin-top: 20px;
  height: 550px;
  margin-bottom: 40px;
}

.itemseccenter p {
  height: 370px;
}

#section3 {
  height: 600px !important;
  background: url(../img/cake.jpg) no-repeat bottom center;
}

#section3 h3 {
  margin-top: 0 !important;
  color: #AD2959;
}

.cake-info-item h4 {
  line-height: 80px;
}

.cake-info-item i {
  float: left;
  font-size: 40px;
  line-height: 80px;
  margin: 0 15px;
  color: #F2676A;
}

.cake-info-item-desc {
  height: 80px;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(251, 224, 135, 0.7);
}

#section4 {
  height: auto;
}

#section4 form {
  text-align: center;
  line-height: 100px;
}

#section4 form input {
  height: 30px;
  width: 150px;
}

#section4 form input[type="submit"] {
  background: #F2676A;
  height: 30px;
  border: none;
  color: white;
  margin-bottom: 20px;
}

.form-bg {
  min-height: 100px;
  background-color: #c7027a;
}

.small-form {
  padding-bottom: 0 !important;
}

.section4-arrow {
  top: 10px !important;
  bottom: 0 !important;
}

.section4-bg {
  background: #fdedb8;
  height: auto;
}

#section4 .row:last-child {
  padding-bottom: 50px;
}

#section4 .reviews-pic {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

#section4 .reviews-info {
  margin-top: 15px;
}

.section5-right-items {
  padding: 100px 0;
}

.section5-left-items {
  padding: 100px 0;
}

.section5-left-items h4 {
  color: black;
  padding-bottom: 10px;
}

.section5-left-items i {
  text-align: right !important;
  padding: 20px;
  font-size: 55px;
  color: #F2676A;
}

.section5-left-items-i {
  text-align: center;
}

.section5-left-items-info {
  font-size: 15px;
  color: gray;
}

.section5-left-items-info a {
  color: gray;
}

.section5-left-items-info a:hover {
  text-decoration: underline !important;
}

#section5 {
  height: auto;
}

#section5 form {
  text-align: center;
}

#section5 form input {
  padding: 5px;
  margin: 10px auto;
  width: 300px;
  height: 50px;
}

#section5 form input[type="submit"] {
  background: #F2676A;
  height: 50px;
  border: none;
  color: white;
  margin-bottom: 20px;
}

.footer-items {
  min-height: 100px;
}

form input[type="submit"]:hover {
  background: #ee383c !important;
}

footer {
  color: white;
  line-height: 100px;
  min-height: 100px;
  background: #62013C;
}

footer p {
  padding-left: 10px;
  font-size: 15px;
}

footer i {
  padding-right: 10px;
  color: #F2676A;
  font-size: 25px !important;
}

footer i:hover {
  color: #ee383c !important;
}

@media only screen and (max-width: 990px) {
  .header-right-item {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 770px) {
  #section5 form input {
    width: 450px;
  }
  .section5-left-items {
    padding-bottom: 0px !important;
  }
  .reviews-info h3 {
    text-align: center;
  }
  .reviews-info p {
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  #section5 form input {
    width: 250px;
  }
  .section5-left-items {
    padding-bottom: 0px !important;
  }
}

@media only screen and (max-width: 395px) {
  .footer-left {
    width: 100%;
    text-align: center !important;
  }
  .footer-right {
    width: 100%;
    text-align: center !important;
  }
}
