@font-face
	font-family: "Raleway" !important
	font-style: normal
	font-weight: normal
body
	font-family: "Raleway", sans-serif !important
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised
	overflow-x: hidden 
body input:focus:required:invalid, body textarea:focus:required:invalid 
	color: red

body input:required:valid, body textarea:required:valid 
	color: green
.hidden
	display: none
a
	text-decoration: none !important
	font-weight: bold
p
	font-size: 15pt
.loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
.loader .loader_inner
	font-size: 50px
	height: 60px
	width: 60px
	margin-top: -30px
	margin-left: -30px
	left: 50%
	top: 40%
	position: absolute
section
	height: 800px
header
	height: auto
	background-color: rgba(255,255,255,0.6)
.header-contacts
	font-size: 35px
	color: #AD2959
.header-contacts i
	margin-top: 50px
.header-contacts a
	margin-top: 53px
	font-size: 20px
	color: #118DF0
.header-contacts a:hover
	text-decoration: underline !important
.header-contacts-item
	width: 275px
#section1
	background: url(../img/start.jpg)
	background-size: cover
	height: 635px
#section1 h1
	line-height: 120px
#mynavbar
	width: 100px
	right: 25px !important
	top: 25px
	left: auto !important
#mynavbar ul li a
	text-align: center !important
	font-size: 30px
	color: #62013C
#mynavbar ul li a:hover
	color: #AD2959 !important
	background: none
#mynavbar ul li a:link
	background: none
.active a
	font-size: 2em
	color: #AD2959 !important
.left
	float: left
.right
	float: right
h3
	padding-top: 15px
	font-weight: bold
form
	background: rgba(251,224,135, 0.8)
	width: 325px
	text-align: center
	margin: 50px auto 0 auto
form input
	padding: 5px
	margin: 10px auto
	width: 70%
form input[type="submit"]
	background: #F2676A
	height: 30px
	border: none
	color: white
	margin-bottom: 20px
#section2
	height: auto
	background: #F2676A
	text-align: center
.arrow-down
	font-size: 70px
	position: relative
	bottom: 30px
.arrowparrent
	text-align: center
.arrowparrent i
	color: #118DF0
.toorder
	display: inline-block
	width: 200px
	height: 50px
	background: #AD2959
	line-height: 50px
	color: white
.toorder:hover
	color: #e1c979
.itemsec
	box-sizing: border-box
	padding: 10px
	border-radius: 20px
	background: #FBE087
	height: 400px
	margin-top: 100px
.itemsec p
	height: 220px
.itemseccenter
	margin-top: 50px
	height: 550px
	margin-bottom: 40px
.itemseccenter p
	height: 370px
#section2 .row
	padding-top: 30px
#cakebg
	height: 800px
	background: url(../img/cake.jpg) no-repeat center center
@media only screen and (max-width : 990px)
	header h1
		text-align: center
	.main-logo
		text-align: center !important
		float: none !important
	.header-contacts-item:first-child
		float:left !important
	.header-contacts-item:last-child
		text-align: right !important
	.header-contacts-item
		margin-bottom: 30px
@media only screen and (max-width : 600px)
	.header-contacts-item:first-child
		float: right !important